<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/dist/css/app.css' />
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{{block 'seoComponents'}}}
  {{{block 'pageStyle'}}}
</head>

<body>
  <nav id="navbar" class="navbar navbar-expand-lg navbar-dark bg-danger fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">FINGO SUKSES</a>
      <button id="btnNavbarDropdown" class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto text-uppercase">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/sistem">Sistem</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/marketing-plan">Marketing Plan</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/video-fingo">Video Fingo</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <div id="app" class="pt-5">
    {{{body}}}
  </div>

  <section id="footer" class="bg-danger text-white">
    <div class="container py-3 py-md-5">
      <div class="row">
        <div class="col-12 col-md-4 mb-1 mb-md-0">
          <h1 class="font-weight bolder mb-0 text-uppercase text-center text-md-left">Fingo Sukses</h1>
        </div>
        <div class="col-12 col-md-4 d-flex align-items-center mb-1 mb-md-0">
          <p class="text-center mb-0">&#169; Fingo Sukses is design by afikrim and Naufal Widhi.</p>
        </div>
        <div class="col-12 col-md-4"></div>
      </div>
    </div>
  </section>

  <section id="whatsApp">
    <a href="https://wa.me/6287739006357" target="_blank" class="rounded-circle shadow shadow-sm"></a>
  </section>
</body>

<script src="/dist/js/app.js"></script>
{{{block 'pageScript'}}}

</html>